Django==5.2.3
djangorestframework==3.16.0
psycopg2==2.9.6
django-cors-headers==3.14.0
python-decouple==3.5
boto3==1.26.0
django-storages==1.12.3
djangorestframework-simplejwt==5.2.2
pytest==7.2.0
pytest-django==4.5.2